## Analysis of German eBay website

We will be performing Data Cleaning and Analysis using Pandas and NumPy fundamentals. 

The dataset provided by Dataquest is quite similar to [Kaggle Dataset](kaggle.com/piumiu/used-cars-database-50000-data-points)

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv',encoding='Windows-1252')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

**The data dictionary provided with data is as follows:**

1. dateCrawled - When this ad was first crawled. All field-values are taken from this date.
2. name - Name of the car.
3. seller - Whether the seller is private or a dealer.
4. offerType - The type of listing
5. price - The price on the ad to sell the car.
6. abtest - Whether the listing is included in an A/B test.
7. vehicleType - The vehicle Type.
8. yearOfRegistration - The year in which the car was first registered.
9. gearbox - The transmission type.
10. powerPS - The power of the car in PS.
11. model - The car model name.
12. kilometer - How many kilometers the car has driven.
13. monthOfRegistration - The month in which the car was first registered.
14. fuelType - What type of fuel the car uses.
15. brand - The brand of the car.
16. notRepairedDamage - If the car has a damage which is not yet repaired.
17. dateCreated - The date on which the eBay listing was created.
18. nrOfPictures - The number of pictures in the ad.
19. postalCode - The postal code for the location of the vehicle.
20. lastSeenOnline - When the crawler saw this ad last online.

In [5]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [6]:
autos.describe()

,yearOfRegistration,powerPS,monthOfRegistration,nrOfPictures,postalCode
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

**Note**- Renaming columns for better understanding

In [7]:
rename_cols = {'yearOfRegistration':'registration_year',
              'monthOfRegistration':'registration_month',
              'notRepairedDamage':'unrepaired_damage',
              'dateCreated':'ad_created','dateCrawled':'date_crawled',
              'offerType':'offer_type','vehicleType':'vehicle_type',
              'fuelType':'fuel_type','nrOfPictures':'nr_of_pictures',
              'postalCode':'postal_code','lastSeen':'last_seen'}

In [8]:
autos.rename(rename_cols,inplace=True,axis=1)

In [9]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [10]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [11]:
autos.describe()

,registration_year,powerPS,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [12]:
autos.nunique(dropna=False)

date_crawled          48213
name                  38754
seller                    2
offer_type                2
price                  2357
abtest                    2
vehicle_type              9
registration_year        97
gearbox                   3
powerPS                 448
model                   246
odometer                 13
registration_month       13
fuel_type                 8
brand                    40
unrepaired_damage         3
ad_created               76
nr_of_pictures            1
postal_code            7014
last_seen             39481
dtype: int64

In [13]:
autos.isna().sum()

date_crawled             0
name                     0
seller                   0
offer_type               0
price                    0
abtest                   0
vehicle_type          5095
registration_year        0
gearbox               2680
powerPS                  0
model                 2758
odometer                 0
registration_month       0
fuel_type             4482
brand                    0
unrepaired_damage     9829
ad_created               0
nr_of_pictures           0
postal_code              0
last_seen                0
dtype: int64

### Findings

- There are 5 numeric columns, 3 date columns and 12 columns with text.
- 'nr_of_pictures' contains only single value thus can be dropped.
- 'date_crawled', ad_created and 'last_seen' are to be converted to datetime columns.
- 'unrepaired_damage', 'gearbox', 'vehicle_type', 'model' and 'fuel_type' contains null values.
- 'seller', 'offer_type', 'abtest' and 'gearbox' can be converted to categorical columns.
- 'price' and 'odometer' can be converted to numerics.(need cleaning)
- Splitting model and brand from 'name' columns.

In [14]:
# Converting specified columns to categorical
cat_columns = ['seller','offer_type','abtest','gearbox']
# Specified columns need to be dropped
to_drop = ['nr_of_pictures']
# Date columns need to be parsed as datetime columns
date_columns = ['date_crawled','ad_created','last_seen']
# Dealing with na in the specified columns. 
has_na = ['unrepaired_damage','gearbox','vehicle_type','model','fuel_type']

In [15]:
# separated brand and model from the 'name' columns
temp = autos['name'].str.split('_',1,expand=True)
autos['brand'],autos['model'] = temp[:][0],temp[:][1]
autos.drop(['name'],axis=1,inplace=True)

In [16]:
autos.head()

,date_crawled,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,privat,Angebot,"$5,000",control,bus,2004,manuell,158,807_160_NAVTECH_ON_BOARD,"150,000km",3,lpg,Peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,"150,000km",6,benzin,BMW,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,Golf_1.6_United,"70,000km",7,benzin,Volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,smart_fortwo_coupe_softouch/F1/Klima/Panorama,"70,000km",6,benzin,Smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepflegt.mit...,"150,000km",7,benzin,Ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [17]:
# Cleaning price and odometer columns so that can be converted to numeris for analysis.
autos['price'] = autos['price'].str.replace('$','')
autos['odometer'] = autos['odometer'].str.replace('km','')
autos['price'] = autos['price'].str.replace(',','')
autos['odometer'] = autos['odometer'].str.replace(',','')

In [18]:
autos['price'] = autos['price'].astype(int)
autos['odometer'] = autos['odometer'].astype(int)

In [19]:
autos.rename({'odometer':'odometer_km'},inplace=True,axis=1)

In [20]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
date_crawled          50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null int64
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
powerPS               50000 non-null int64
model                 49810 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(7), object(12)
memory usage: 7.2+ MB

In [21]:
autos.price.unique().shape

(2357,)

In [22]:
autos.odometer_km.unique().shape

(13,)

In [23]:
autos.price.value_counts().head()

0       1421
500      781
1500     734
2500     643
1000     639
Name: price, dtype: int64

In [24]:
autos.odometer_km.value_counts().head()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
Name: odometer_km, dtype: int64

In [25]:
autos.price.value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [26]:
autos.odometer_km.value_counts().sort_index(ascending=True).head()

5000     967
10000    264
20000    784
30000    789
40000    819
Name: odometer_km, dtype: int64

### Findings

1. For cars greater than price \\$350,000 can be considered outliers as cars price above \\$350,000 are high end sports car and are scarse. We will be dealing with general public cars which are often bought bases on feature and price. We also asume that that minimum price of second hand car is \\$500
2. minimum power delivered by engine in a car cannot be 0 hence needs to be handled.

In [27]:
autos = autos[(autos["price"]<350000) & (autos["price"]>500)]

In [28]:
autos = autos[autos["powerPS"]>25]

In [29]:
autos.date_crawled.value_counts(normalize=True, dropna=False).sort_index().head()

2016-03-05 14:06:30    0.000025
2016-03-05 14:06:40    0.000025
2016-03-05 14:07:21    0.000025
2016-03-05 14:07:26    0.000025
2016-03-05 14:07:40    0.000025
Name: date_crawled, dtype: float64

In [30]:
autos.ad_created.value_counts(normalize=True, dropna=False).sort_index().head()

2015-08-10 00:00:00    0.000025
2015-09-09 00:00:00    0.000025
2015-11-10 00:00:00    0.000025
2015-12-05 00:00:00    0.000025
2015-12-30 00:00:00    0.000025
Name: ad_created, dtype: float64

In [31]:
autos.last_seen.value_counts(normalize=True, dropna=False).sort_index().head()

2016-03-05 14:45:46    0.000025
2016-03-05 14:46:02    0.000025
2016-03-05 14:49:34    0.000025
2016-03-05 15:16:11    0.000025
2016-03-05 15:16:47    0.000025
Name: last_seen, dtype: float64

In [32]:
autos.registration_year.describe()

count    40463.000000
mean      2004.346910
std         43.288253
min       1927.000000
25%       2000.000000
50%       2004.000000
75%       2009.000000
max       9000.000000
Name: registration_year, dtype: float64

### Findings

1. Cars registered in between years 1900 to 2016 can be considered a valid registration as cars were invented in 1885 and the year of the data gathered was 2016.

In [33]:
autos = autos[autos.registration_year.between(1900,2016)]

In [34]:
autos.registration_year.value_counts(normalize=True)

2005    0.065517
2006    0.064674
2004    0.063294
2003    0.062374
2001    0.058618
          ...
1958    0.000051
1955    0.000026
1927    0.000026
1950    0.000026
1931    0.000026
Name: registration_year, Length: 69, dtype: float64

**Now we have cleaned data for our requirements; we will analyze and explore data for top 6 most bought brands:**
1. Average, minimum and maximum price,power and life of the brand
2. Average, minimum and maximum price,power and life of the most bought vehical_type for that brand
3. seller which sold most of the vehicles.
4. most prominent fuel type used in cars. 
5. Which company produced which type of gearbox and which company sold the most.

In [35]:
# First Task
brands = autos.brand.value_counts().sort_values(ascending=False).index[:6]

In [36]:
agg_price_data = {}
agg_price_data_max = {}
agg_price_data_min = {}
for brand in brands:
    agg_price_data[brand] = autos[autos.brand==brand].price.mean()
    agg_price_data_max[brand] = autos[autos.brand==brand].price.max()
    agg_price_data_min[brand] = autos[autos.brand==brand].price.min()

In [37]:
agg_price_data

{'Volkswagen': 7350.501573976915,
 'BMW': 9513.078319502074,
 'Mercedes': 9518.855199773307,
 'Opel': 3689.6746483088896,
 'Audi': 10388.861383108935,
 'Ford': 4672.329830973047}

In [38]:
agg_price_data_max

{'Volkswagen': 64500,
 'BMW': 259000,
 'Mercedes': 180000,
 'Opel': 38990,
 'Audi': 175000,
 'Ford': 73500}

In [39]:
agg_price_data_min

{'Volkswagen': 520,
 'BMW': 510,
 'Mercedes': 530,
 'Opel': 525,
 'Audi': 510,
 'Ford': 520}

In [40]:
# Alternate way to get aggregated price
top_brand_data = autos[autos.brand.isin(brands)]

In [41]:
alternate_agg_price_data = top_brand_data.groupby(['brand'])['price'].agg(['mean','max','min']).sort_values(by='mean',ascending=False)

In [42]:
alternate_agg_price_data

                    mean     max  min
brand
Audi        10388.861383  175000  510
Mercedes     9518.855200  180000  530
BMW          9513.078320  259000  510
Volkswagen   7350.501574   64500  520
Ford         4672.329831   73500  520
Opel         3689.674648   38990  525

In [43]:
agg_mil_data = {}
agg_mil_data_max = {}
agg_mil_data_min = {}
for brand in brands:
    agg_mil_data[brand] = autos[autos.brand==brand].odometer_km.mean()
    agg_mil_data_max[brand] = autos[autos.brand==brand].odometer_km.max()
    agg_mil_data_min[brand] = autos[autos.brand==brand].odometer_km.min()

In [44]:
agg_mil_data

{'Volkswagen': 123245.54039874082,
 'BMW': 131541.75311203318,
 'Mercedes': 129552.2810994616,
 'Opel': 127376.53397186472,
 'Audi': 127402.08078335374,
 'Ford': 122343.5358611238}

In [45]:
agg_mil_data_max

{'Volkswagen': 150000,
 'BMW': 150000,
 'Mercedes': 150000,
 'Opel': 150000,
 'Audi': 150000,
 'Ford': 150000}

In [46]:
agg_mil_data_min

{'Volkswagen': 5000,
 'BMW': 5000,
 'Mercedes': 5000,
 'Opel': 5000,
 'Audi': 5000,
 'Ford': 5000}

In [47]:
alternate_agg_mil_data = top_brand_data.groupby(['brand'])['odometer_km'].agg(['mean','max','min']).sort_values(by='mean',ascending=False)

In [48]:
alternate_agg_mil_data

                     mean     max   min
brand
BMW         131541.753112  150000  5000
Mercedes    129552.281099  150000  5000
Audi        127402.080783  150000  5000
Opel        127376.533972  150000  5000
Volkswagen  123245.540399  150000  5000
Ford        122343.535861  150000  5000

In [49]:
agg_power_data = {}
agg_power_data_max = {}
agg_power_data_min = {}
for brand in brands:
    agg_power_data[brand] = autos[autos.brand==brand].powerPS.mean()
    agg_power_data_max[brand] = autos[autos.brand==brand].powerPS.max()
    agg_power_data_min[brand] = autos[autos.brand==brand].powerPS.min()

In [50]:
agg_power_data

{'Volkswagen': 114.95026232948584,
 'BMW': 178.03682572614107,
 'Mercedes': 169.9376593935959,
 'Opel': 112.64860820113738,
 'Audi': 170.36750305997552,
 'Ford': 113.02558245774325}

In [51]:
alternate_agg_power_data = top_brand_data.groupby(['brand'])['powerPS'].agg(['mean','max','min']).sort_values(by='mean',ascending=False)

In [52]:
alternate_agg_power_data

                  mean    max  min
brand
BMW         178.036826   2729   33
Audi        170.367503   1793   60
Mercedes    169.937659   1796   29
Volkswagen  114.950262   1300   27
Ford        113.025582   1753   39
Opel        112.648608  14009   33

In [53]:
agg_mil_data = pd.Series(agg_mil_data)
agg_price_data = pd.Series(agg_price_data)
agg_power_data = pd.Series(agg_power_data)

In [54]:
df = pd.DataFrame({'mean_price':agg_price_data,'mean_mileage':agg_mil_data,'mean_power': agg_power_data})

In [55]:
df

              mean_price   mean_mileage  mean_power
Volkswagen   7350.501574  123245.540399  114.950262
BMW          9513.078320  131541.753112  178.036826
Mercedes     9518.855200  129552.281099  169.937659
Opel         3689.674648  127376.533972  112.648608
Audi        10388.861383  127402.080783  170.367503
Ford         4672.329831  122343.535861  113.025582

### Findings

1. Among top 6 brands- We find that Mercedes Benz, Audi and BMW lie in the same price range of \\$9000-\\$10000 and are expensive as compared to Volkswagen which is available around $7000. Ford and Opel being the least expensive are in the range of \\$3000-\\$5000.

In [56]:
# Second Task
most_bought_vehicle_for_brand = {}
temp = top_brand_data.groupby(['brand','vehicle_type'])['seller'].agg(['count'])
for row in temp.iterrows():
    if row[0][0] in most_bought_vehicle_for_brand:
        if most_bought_vehicle_for_brand[row[0][0]][1] < row[1]['count']:
            most_bought_vehicle_for_brand[row[0][0]] = (row[0][1],row[1]['count'])
    else:
        most_bought_vehicle_for_brand[row[0][0]] = (row[0][1],row[1]['count'])

In [57]:
most_bought_vehicle_for_brand

{'Audi': ('kombi', 1330),
 'BMW': ('limousine', 1914),
 'Ford': ('kleinwagen', 641),
 'Mercedes': ('limousine', 1519),
 'Opel': ('kleinwagen', 1010),
 'Volkswagen': ('limousine', 1547)}

In [58]:
avg_price_vehicle_type_data = {}
avg_mil_vehicle_type_data = {}
avg_power_vehicle_type_data = {}
max_price_vehicle_type_data = {}
max_mil_vehicle_type_data = {}
max_power_vehicle_type_data = {}
min_price_vehicle_type_data = {}
min_mil_vehicle_type_data = {}
min_power_vehicle_type_data = {}
for brand in most_bought_vehicle_for_brand.keys():
    vehicle_type = most_bought_vehicle_for_brand[brand][0]
    avg_price_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['price'].mean()
    avg_mil_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['odometer_km'].mean()
    avg_power_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['powerPS'].mean()
    max_price_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['price'].max()
    max_mil_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['odometer_km'].max()
    max_power_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['powerPS'].max()
    min_price_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['price'].min()
    min_mil_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['odometer_km'].min()
    min_power_vehicle_type_data[brand] = autos[(autos.brand == brand) & (autos.vehicle_type == vehicle_type)]['powerPS'].min()

In [59]:
avg_price_vehicle_type_data

{'Audi': 9815.564661654136,
 'BMW': 8742.132706374086,
 'Ford': 3247.291731669267,
 'Mercedes': 7360.568136932192,
 'Opel': 2655.838613861386,
 'Volkswagen': 6909.869424692954}

In [60]:
avg_mil_vehicle_type_data

{'Audi': 133699.24812030076,
 'BMW': 131332.28840125393,
 'Ford': 110187.20748829954,
 'Mercedes': 130151.41540487163,
 'Opel': 122623.76237623762,
 'Volkswagen': 121761.47382029735}

In [61]:
avg_power_vehicle_type_data

{'Audi': 174.0,
 'BMW': 171.9299895506792,
 'Ford': 73.82059282371294,
 'Mercedes': 157.76892692560895,
 'Opel': 76.66633663366336,
 'Volkswagen': 121.80866192630899}

In [62]:
max_price_vehicle_type_data

{'Audi': 65990,
 'BMW': 68000,
 'Ford': 18600,
 'Mercedes': 84000,
 'Opel': 38990,
 'Volkswagen': 42500}

In [63]:
max_mil_vehicle_type_data

{'Audi': 150000,
 'BMW': 150000,
 'Ford': 150000,
 'Mercedes': 150000,
 'Opel': 150000,
 'Volkswagen': 150000}

In [64]:
max_power_vehicle_type_data

{'Audi': 850,
 'BMW': 560,
 'Ford': 182,
 'Mercedes': 1771,
 'Opel': 5867,
 'Volkswagen': 544}

In [65]:
min_price_vehicle_type_data

{'Audi': 510,
 'BMW': 549,
 'Ford': 550,
 'Mercedes': 550,
 'Opel': 525,
 'Volkswagen': 549}

In [66]:
min_mil_vehicle_type_data

{'Audi': 5000,
 'BMW': 5000,
 'Ford': 5000,
 'Mercedes': 5000,
 'Opel': 5000,
 'Volkswagen': 5000}

In [67]:
min_power_vehicle_type_data

{'Audi': 90,
 'BMW': 75,
 'Ford': 44,
 'Mercedes': 29,
 'Opel': 40,
 'Volkswagen': 34}

In [68]:
for col in date_columns:
    autos[col] = pd.to_datetime(autos[col])

In [69]:
autos.groupby(['unrepaired_damage'])['price'].agg(['mean'],)

                          mean
unrepaired_damage
ja                 3002.639643
nein               7524.204784

### Findings

1. Second hand cars appear to be a quater cheaper than new cars.