## Analysis of German eBay website

We will be performing Data Cleaning and Analysis using Pandas and NumPy fundamentals. 

The dataset provided by Dataquest is quite similar to [Kaggle Dataset](kaggle.com/piumiu/used-cars-database-50000-data-points)

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv',encoding='Windows-1252')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

**The data dictionary provided with data is as follows:**

1. dateCrawled - When this ad was first crawled. All field-values are taken from this date.
2. name - Name of the car.
3. seller - Whether the seller is private or a dealer.
4. offerType - The type of listing
5. price - The price on the ad to sell the car.
6. abtest - Whether the listing is included in an A/B test.
7. vehicleType - The vehicle Type.
8. yearOfRegistration - The year in which the car was first registered.
9. gearbox - The transmission type.
10. powerPS - The power of the car in PS.
11. model - The car model name.
12. kilometer - How many kilometers the car has driven.
13. monthOfRegistration - The month in which the car was first registered.
14. fuelType - What type of fuel the car uses.
15. brand - The brand of the car.
16. notRepairedDamage - If the car has a damage which is not yet repaired.
17. dateCreated - The date on which the eBay listing was created.
18. nrOfPictures - The number of pictures in the ad.
19. postalCode - The postal code for the location of the vehicle.
20. lastSeenOnline - When the crawler saw this ad last online.

In [5]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [6]:
autos.describe()

,yearOfRegistration,powerPS,monthOfRegistration,nrOfPictures,postalCode
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

**Note**- Renaming columns for better understanding

In [7]:
rename_cols = {'yearOfRegistration':'registration_year',
              'monthOfRegistration':'registration_month',
              'notRepairedDamage':'unrepaired_damage',
              'dateCreated':'ad_created','dateCrawled':'date_crawled',
              'offerType':'offer_type','vehicleType':'vehicle_type',
              'fuelType':'fuel_type','nrOfPictures':'nr_of_pictures',
              'postalCode':'postal_code','lastSeen':'last_seen'}

In [8]:
autos.rename(rename_cols,inplace=True,axis=1)

In [9]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [10]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [11]:
autos.describe()

,registration_year,powerPS,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [12]:
autos.nunique(dropna=False)

date_crawled          48213
name                  38754
seller                    2
offer_type                2
price                  2357
abtest                    2
vehicle_type              9
registration_year        97
gearbox                   3
powerPS                 448
model                   246
odometer                 13
registration_month       13
fuel_type                 8
brand                    40
unrepaired_damage         3
ad_created               76
nr_of_pictures            1
postal_code            7014
last_seen             39481
dtype: int64

In [13]:
autos.isna().sum()

date_crawled             0
name                     0
seller                   0
offer_type               0
price                    0
abtest                   0
vehicle_type          5095
registration_year        0
gearbox               2680
powerPS                  0
model                 2758
odometer                 0
registration_month       0
fuel_type             4482
brand                    0
unrepaired_damage     9829
ad_created               0
nr_of_pictures           0
postal_code              0
last_seen                0
dtype: int64

### Findings

- There are 5 numeric columns, 3 date columns and 12 columns with text.
- 'nr_of_pictures' contains only single value thus can be dropped.
- 'date_crawled', ad_created and 'last_seen' are to be converted to datetime columns.
- 'unrepaired_damage', 'gearbox', 'vehicle_type', 'model' and 'fuel_type' contains null values.
- 'seller', 'offer_type', 'abtest' and 'gearbox' can be converted to categorical columns.
- 'price' and 'odometer' can be converted to numerics.(need cleaning)
- Splitting model and brand from 'name' columns.

In [14]:
# Converting specified columns to categorical
cat_columns = ['seller','offer_type','abtest','gearbox']
# Specified columns need to be dropped
to_drop = ['nr_of_pictures']
# Date columns need to be parsed as datetime columns
date_columns = ['date_crawled','ad_created','last_seen']
# Dealing with na in the specified columns. 
has_na = ['unrepaired_damage','gearbox','vehicle_type','model','fuel_type']

In [15]:
# separated brand and model from the 'name' columns
temp = autos['name'].str.split('_',1,expand=True)
autos['brand'],autos['model'] = temp[:][0],temp[:][1]
autos.drop(['name'],axis=1,inplace=True)

In [16]:
autos.head()

,date_crawled,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,privat,Angebot,"$5,000",control,bus,2004,manuell,158,807_160_NAVTECH_ON_BOARD,"150,000km",3,lpg,Peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,"150,000km",6,benzin,BMW,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,Golf_1.6_United,"70,000km",7,benzin,Volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,smart_fortwo_coupe_softouch/F1/Klima/Panorama,"70,000km",6,benzin,Smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepflegt.mit...,"150,000km",7,benzin,Ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [17]:
# Cleaning price and odometer columns so that can be converted to numeris for analysis.
autos['price'] = autos['price'].str.replace('$','')
autos['odometer'] = autos['odometer'].str.replace('km','')
autos['price'] = autos['price'].str.replace(',','')
autos['odometer'] = autos['odometer'].str.replace(',','')

In [18]:
autos['price'] = autos['price'].astype(int)
autos['odometer'] = autos['odometer'].astype(int)

In [19]:
autos.rename({'odometer':'odometer_km'},inplace=True,axis=1)

In [20]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
date_crawled          50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null int64
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
powerPS               50000 non-null int64
model                 49810 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(7), object(12)
memory usage: 7.2+ MB

In [21]:
autos.price.unique().shape

(2357,)

In [22]:
autos.odometer_km.unique().shape

(13,)

In [23]:
autos.price.value_counts().head()

0       1421
500      781
1500     734
2500     643
1000     639
Name: price, dtype: int64

In [24]:
autos.odometer_km.value_counts().head()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
Name: odometer_km, dtype: int64

In [25]:
autos.price.value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [26]:
autos.odometer_km.value_counts().sort_index(ascending=True).head()

5000     967
10000    264
20000    784
30000    789
40000    819
Name: odometer_km, dtype: int64

### Findings

1. For cars greater than price 350,000 can be considered outliers as cars price above 350,000 are high end sports car and are scarse. We will be dealing with general public cars which are often bought bases on feature and price.

In [27]:
autos[autos["price"]>350000]

,date_crawled,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
514,2016-03-17 09:53:08,privat,Angebot,999999,test,kombi,2009,manuell,101,Focus_Turnier_1.6_16V_Style,125000,4,benzin,Ford,nein,2016-03-17 00:00:00,0,12205,2016-04-06 07:17:35
2897,2016-03-12 21:50:57,privat,Angebot,11111111,test,limousine,1973,manuell,48,MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,50000,3,benzin,Escort,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
7814,2016-04-04 11:53:31,privat,Angebot,1300000,control,coupe,1992,NaN,0,F40,50000,12,NaN,Ferrari,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
11137,2016-03-29 23:52:57,privat,Angebot,10000000,control,coupe,1960,manuell,368,maserati_3200_gt_Zustand_unwichtig_laufen_soll...,100000,1,benzin,suche,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
22947,2016-03-22 12:54:19,privat,Angebot,1234566,control,kombi,1999,automatik,190,530d_zum_ausschlachten,150000,2,diesel,Bmw,NaN,2016-03-22 00:00:00,0,17454,2016-04-02 03:17:32
24384,2016-03-21 13:57:51,privat,Angebot,11111111,test,NaN,1995,NaN,0,Golf_3_gt_tdi,150000,0,NaN,Schlachte,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
27371,2016-03-09 15:45:47,privat,Angebot,12345678,control,NaN,2017,NaN,95,Punto,150000,0,NaN,Fiat,NaN,2016-03-09 00:00:00,0,96110,2016-03-09 15:45:47
37585,2016-03-29 11:38:54,privat,Angebot,999990,test,limousine,1985,manuell,111,Jetta_GT,150000,12,benzin,Volkswagen,ja,2016-03-29 00:00:00,0,50997,2016-03-29 11:38:54
39377,2016-03-08 23:53:51,privat,Angebot,12345678,control,NaN,2018,manuell,95,volvo_v40_gegen_van,150000,6,NaN,Tausche,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
39705,2016-03-22 14:58:27,privat,Angebot,99999999,control,limousine,1999,automatik,224,gegen_gleichwertiges,150000,9,benzin,Tausch,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
42221,2016-03-08 20:39:05,privat,Angebot,27322222,control,limousine,2014,manuell,163,None,40000,2,diesel,Leasinguebernahme,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
43049,2016-03-21 19:53:52,privat,Angebot,999999,test,bus,1981,manuell,70,VW_Busse_T3,150000,1,benzin,2,NaN,2016-03-21 00:00:00,0,99880,2016-03-28 17:18:28
47598,2016-03-31 18:56:54,privat,Angebot,12345678,control,limousine,2001,manuell,101,Vectra_B_1_6i_16V_Facelift_Tuning_Showcar_Poka...,150000,3,benzin,Opel,nein,2016-03-31 00:00:00,0,4356,2016-03-31 18:56:54
47634,2016-04-04 21:25:21,privat,Angebot,3890000,test,coupe,2006,NaN,799,FXX,5000,7,NaN,Ferrari,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37

In [28]:
autos.date_crawled.value_counts(normalize=True, dropna=False).sort_index().head()

2016-03-05 14:06:30    0.00002
2016-03-05 14:06:40    0.00002
2016-03-05 14:07:04    0.00002
2016-03-05 14:07:08    0.00002
2016-03-05 14:07:21    0.00002
Name: date_crawled, dtype: float64

In [29]:
autos.ad_created.value_counts(normalize=True, dropna=False).sort_index().head()

2015-06-11 00:00:00    0.00002
2015-08-10 00:00:00    0.00002
2015-09-09 00:00:00    0.00002
2015-11-10 00:00:00    0.00002
2015-12-05 00:00:00    0.00002
Name: ad_created, dtype: float64

In [30]:
autos.last_seen.value_counts(normalize=True, dropna=False).sort_index().head()

2016-03-05 14:45:46    0.00002
2016-03-05 14:46:02    0.00002
2016-03-05 14:49:34    0.00002
2016-03-05 15:16:11    0.00002
2016-03-05 15:16:47    0.00002
Name: last_seen, dtype: float64

In [31]:
autos.registration_year.describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

### Findings

1. Cars registered in between years 1900 to 2016 can be considered a valid registration as cars were invented in 1885 and the year of the data gathered was 2016.

In [32]:
autos = autos[autos.registration_year.between(1900,2016)]

In [33]:
autos.registration_year.value_counts(normalize=True)

2000    0.069834
2005    0.062776
1999    0.062464
2004    0.056988
2003    0.056779
          ...
1939    0.000021
1927    0.000021
1929    0.000021
1948    0.000021
1952    0.000021
Name: registration_year, Length: 78, dtype: float64

**Now we have cleaned data for our requirements; we will analyze and explore data for top 6 most bought brands:**
1. Average, minimum and maximum price,power and life of the brand
2. Average, minimum and maximum price,power and life of the most bought vehical_type for that brand
3. seller which sold most of the vehicles.
4. most prominent fuel type used in cars. 
5. Which company produced which type of gearbox and which company sold the most.

In [34]:
# First Task
brands = autos.brand.value_counts().sort_values(ascending=False).index[:6]

In [35]:
agg_price_data = {}
for brand in brands:
    agg_price_data[brand] = autos[autos.brand==brand].price.mean()

In [36]:
agg_price_data

{'Volkswagen': 7377.1741584358,
 'Opel': 6012.750354274917,
 'BMW': 9034.85131547188,
 'Mercedes': 9082.370188581763,
 'Audi': 9669.095676429568,
 'Ford': 4260.127142857143}

In [37]:
# Alternate way to get aggregated price
top_brand_data = autos[autos.brand.isin(brands)]

In [38]:
alternate_agg_price_data = top_brand_data.groupby(['brand'])['price'].agg(['mean']).sort_values(by='mean',ascending=False)

In [39]:
alternate_agg_price_data

                   mean
brand
Audi        9669.095676
Mercedes    9082.370189
BMW         9034.851315
Volkswagen  7377.174158
Opel        6012.750354
Ford        4260.127143

In [40]:
agg_mil_data = {}
for brand in brands:
    agg_mil_data[brand] = autos[autos.brand==brand].odometer_km.mean()

In [41]:
agg_mil_data

{'Volkswagen': 123730.09473896392,
 'Opel': 129243.03259329239,
 'BMW': 132023.89572773353,
 'Mercedes': 130105.91578403514,
 'Audi': 128481.17154811716,
 'Ford': 123726.78571428571}

In [42]:
alternate_agg_mil_data = top_brand_data.groupby(['brand'])['odometer_km'].agg(['mean']).sort_values(by='mean',ascending=False)

In [43]:
alternate_agg_mil_data

                     mean
brand
BMW         132023.895728
Mercedes    130105.915784
Opel        129243.032593
Audi        128481.171548
Volkswagen  123730.094739
Ford        123726.785714

In [44]:
agg_power_data = {}
for brand in brands:
    agg_power_data[brand] = autos[autos.brand==brand].powerPS.mean()

In [45]:
agg_power_data

{'Volkswagen': 111.53255392058053,
 'Opel': 98.15847897968824,
 'BMW': 169.76804248129375,
 'Mercedes': 157.1648152932059,
 'Audi': 160.74281729428174,
 'Ford': 98.33285714285714}

In [46]:
alternate_agg_power_data = top_brand_data.groupby(['brand'])['powerPS'].agg(['mean']).sort_values(by='mean',ascending=False)

In [47]:
alternate_agg_power_data

                  mean
brand
BMW         169.768042
Audi        160.742817
Mercedes    157.164815
Volkswagen  111.532554
Ford         98.332857
Opel         98.158479

In [48]:
agg_mil_data = pd.Series(agg_mil_data)
agg_price_data = pd.Series(agg_price_data)
agg_power_data = pd.Series(agg_power_data)

In [49]:
df = pd.DataFrame({'mean_price':agg_price_data,'mean_mileage':agg_mil_data,'mean_power': agg_power_data})

In [50]:
df

             mean_price   mean_mileage  mean_power
Volkswagen  7377.174158  123730.094739  111.532554
Opel        6012.750354  129243.032593   98.158479
BMW         9034.851315  132023.895728  169.768042
Mercedes    9082.370189  130105.915784  157.164815
Audi        9669.095676  128481.171548  160.742817
Ford        4260.127143  123726.785714   98.332857

### Findings

1. Among top 6 brands- We find that Mercedes Benz, Audi and BMW lie in the same price range of \\$9000 and are expensive as compared to Opel and Volkswagen which are available in the range of \\$6000-\\$7000. Ford being the least expensive among them in the range of \\$4000.

In [88]:
# Second Task
most_bought_vehicle_for_brand = {}
temp = top_brand_data.groupby(['brand','vehicle_type'])['seller'].agg(['count'])
for row in temp.iterrows():
    if row[0][0] in most_bought_vehicle_for_brand:
        if most_bought_vehicle_for_brand[row[0][0]][1] < row[1]['count']:
            most_bought_vehicle_for_brand[row[0][0]] = (row[0][1],row[1]['count'])
    else:
        most_bought_vehicle_for_brand[row[0][0]] = (row[0][1],row[1]['count'])

In [89]:
most_bought_vehicle_for_brand

{'Audi': ('kombi', 1414),
 'BMW': ('limousine', 2015),
 'Ford': ('kleinwagen', 891),
 'Mercedes': ('limousine', 1651),
 'Opel': ('kleinwagen', 1355),
 'Volkswagen': ('limousine', 1586)}

In [51]:
for col in date_columns:
    autos[col] = pd.to_datetime(autos[col])

/home/avinash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
autos.groupby(['unrepaired_damage'])['price'].agg(['mean'],)

                          mean
unrepaired_damage
ja                 2335.379937
nein               8233.387360

### Findings

1. Second hand cars appear to be a quater cheaper than new cars.